<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mybatis에 대한 이용이라는 선언 -->
<mapper namespace="org.zerock.mapper.AdminBoardMapper"> <!-- 패키지명.인터페이스명 / 연결해주는 유일한 근거 -->

	<select id="getList"
		resultType="org.zerock.domain.AdminBoardDTO"> <!-- boardVO타입으로 배열형식으로 데이터를 쌓는다. 컬렉션 구조 에서 list 배열형식으로 -->
	<![CDATA[
		select bno , title , content , reg_date , mod_date , view_count , secret_type , board_type , id , b.cate_num , c.cate_num , cate_kind
		from board b left outer join category c
		on b.cate_num = c.cate_num where board_type in ('00') 
		order by bno desc
	]]>
	</select> <!-- xml에서 사용하는 select 구문의 id 속성값이 boardmapper 인터페이스 메소드의 이름이다 -->


	<select id="getTotalCount" resultType="int">
		select count(*) from board
		where bno > 0 and board_type in ('01')
	</select>

	<!-- prefixOverrides -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>


	<!-- 페이징 -->
	<select id="getListWithPaging"
		resultType="org.zerock.domain.AdminBoardDTO"
		parameterType="org.zerock.domain.Criteria">
		<![CDATA[
		select rn,  bno , title , content , reg_date , mod_date , view_count ,	secret_type , 
		board_type , id , cate_num, cate_kind 
		from (
		select /*+INDEX_DESC(board PK_BOARD) */
		rownum rn ,  bno , title , content , reg_date , mod_date , view_count ,	secret_type , 
		board_type , id , cate_num ,cate_kind 
           from (
            select b.* , cate_kind 
            from board b inner join category c 
            on b.cate_num = c.cate_num
            order by bno desc)
        where 
        ]]>

		<include refid="criteria"></include>
        
        <![CDATA[
        board_type = '01' 
        and rownum <= #{pageNum} * #{amount}
           order by bno desc
           )
           where rn > (#{pageNum} -1) * #{amount}
           order by bno desc
		]]>
	</select>
	
	

	<!-- 작성 -->
	<insert id="write">
		insert into board(bno , title , content , reg_date
		,view_count , secret_type, board_type , id , cate_num)
		values
		(seq_board.nextval, #{title} , #{content} , sysdate , 1 , 0 , '00'
		,'admin' , '00' )
	</insert>

	<!-- 이거는 mvcBoarddto의 selectview와 같다 -->
	<select id="read" resultType="org.zerock.domain.AdminBoardDTO"><!-- vo 클래스에 담아서 받아옴 -->
		select * from board where bno = #{bno}
	</select>

	<update id="update">
		update board
		set title = #{title},
		content = #{content},
		mod_date = sysdate
		where bno= #{bno}
	</update>

	<delete id="delete">
		delete from board where bno = #{bno}
	</delete>
	
	
	
	
	<delete id="ansdelete">
		delete from reply where bno = #{bno}
	</delete>

	



	<!-- QNA  -->
	
		<!-- 작성 -->
	<select id="getqnaList"
		resultType="org.zerock.domain.AdminBoardDTO"
		parameterType="org.zerock.domain.Criteria">
		<![CDATA[
		    select bcr.*
			from (
			select /*+INDEX_DESC(board PK_BOARD) */
			rownum rn , bc.* , r.ans_type , r.reply
			from (select b.* , c.cate_kind 
			from board b inner join category c 
			on b.cate_num = c.cate_num
			order by bno desc) bc left join reply r
            on bc.bno = r.bno
			where board_type = '02' 
			and rownum <= #{pageNum} * #{amount}
			order by bc.bno desc
			) bcr
			where rn > (#{pageNum} -1) * #{amount}
			order by bcr.bno desc
		]]>
	</select>

	<select id="qnaTotalCount" resultType="int">
		select count(*) from board
		where bno > 0 and board_type in ('02')
	</select>

<!-- 
	<select id="qnaread" resultType="org.zerock.domain.AdminBoardDTO">vo 클래스에 담아서 받아옴
		select bno , title , content , reg_date , mod_date , view_count , secret_type , board_type , id , b.cate_num , cate_kind
		from board b left outer join category c
		on b.cate_num = c.cate_num
        where b.bno = #{bno}
	</select> -->
	
	<insert id="qnawrite">
		insert into reply 
		values ( seq_reply.nextval ,  #{reply} , sysdate , null , 1 ,  #{bno} , 'admin')
	</insert>
	
	
	
	<update id="answerupdate">
		update reply
		set 
		reply = #{reply}
		where bno= #{bno}
	</update>
	
	
	
	
	
	<select id="getclubList" resultType="org.zerock.domain.AdminClubDTO"><!-- vo 클래스에 담아서 받아옴 -->
		select * from club where cno > 0
	</select>

	
</mapper> 



